body {
  background-color: #daf3f8;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-top: 55px;
}

.todoAppWrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 12px 18px -7px #777777;
  border-radius: 10px;
}

a {
  color: #595959;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: rgb(9,53,121);
  background: linear-gradient(90deg, rgba(9,53,121,0.9416141456582633) 1%, rgba(0,134,255,1) 45%);
  border-radius: 10px 10px 0 0;
  color: white;
}

.taskWrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #4646466a;
}

.taskTitle {
  display: flex;
  align-items: center;
}

.taskCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: lightseagreen;
  border-radius: 50%;
  margin-right: 10px;
}

.taskInCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
}

.loginAndLogout {
  padding: 20px;
}

.editButton {
  color: darkgreen;
  padding-right: 10px;
  font-size: 25px;
}

.deleteButton {
  color: crimson;
  font-weight: bold;
  font-size: 25px;
}

/* タスク検索と追加のフォーム */
.searchWrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.searchInput {
  height: 24px;
  width: 250px !important;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px 6px;
}

.buttonDecoration {
  border: 1px solid gray;
  padding: 4px 10px;
  background-color: #fafafa;
  border-radius: 5px;
  color: grey;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
  height: 30px !important;
}

.buttonDecoration:hover {
  background-color: grey;
  color: #fafafa;
}

.addButton {
  font-size: 32px;
  color: lightseagreen;
}

.deleteConfirmButton {
  border: 1px solid red;
  padding: 4px 10px;
  background-color: #fafafa;
  border-radius: 5px;
  color: grey;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s;
  height: 30px !important;
}

.deleteConfirmButton:hover {
  background-color: red;
  color: #fafafa;
}

label {
  display: block;
  font-weight: bold;
  color: #595959;
}

input[type="text"],
textarea {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}

input[type="text"],
input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 23px;
}

select[name="user"],
select {
  border: 1px solid grey;
  border-radius: 5px;
  height: 23px;
}

.accountWrapper {
  padding: 10px 25px 25px 25px;
}

.accountWrapper p {
  margin: 0 0 10px 0;
  padding: 0;
}

.accountWrapper a {
  color: rgba(39, 39, 190, 0.825) !important;
}

hr {
  border-top: 2px dashed grey;
}

.detailWrapper {
  text-align: center;
  padding: 15px 10px;
}