{% extends 'todoapp/base.html' %} {% block content %}
<div class="header">
  <h1>新規登録</h1>
</div>

<form action="" method="post" style="padding: 25px">
  {% csrf_token %}
  <label for="" style="padding-top: 15px">ユーザー名:</label>
  {{form.username}}
  <label for="" style="padding-top: 15px">パスワード:</label>
  {{form.password1}}
  <label for="" style="padding-top: 15px">確認用パスワード:</label>
  {{form.password2}}
  <br />
  <input
    type="submit"
    value="新規登録"
    class="buttonDecoration"
    style="margin-top: 15px"
  />
</form>

<hr />
<div class="accountWrapper">
  <p>すでにアカウントを持っていますか？</p>
  <a href="{% url 'login' %}"><b>ログイン</b></a>
</div>
{% endblock content %}
